    body {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding: 0;
            min-height: 90vh;
            background: url(venon.jpg) no-repeat;
            background-size:cover;
            background-position: left;
            object-fit: .8;
        } 
        
        .title{
            font-size: 50px;
        }
        .body {
            height: 100vh;
            display: flex;
        }


        /* ANIMACIONES EMPIEZAN */



        
        img {
            margin: auto;
            transition: 3s;
        }
        
        img:hover {
            transform: scale(1.15);
            transition: 3s;
        }
        
       
       
        *{
            box-sizing: border-box;
        }
        .content {
            max-width: 1170px;
            margin-left: auto;
            margin-right: auto;
            padding: 1.5em;
        }

        .logo {
            text-align: center;
            font-size: 3em;
        }
        .content h3 {
            font-size: 80px;
            color: white;
        }

        .content span {
            color: red;
        }

        .contact-wrapper {
            box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
        }

        .contact-wrapper > * {
            padding: 1em;
        }

        .contact-form {
            background: #222222;
        }

        
        .contact-form form{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .contact-form form .block {
            grid-column: 1 / 3;
        }

        .contact-form form p{
            margin: 0;
            padding: 1em;
        }

        .contact-form form button,
        .contact-form form input,
        .contact-form form textarea {
            width: 100%;
            padding: 0;
            border: none;
            background: none;
            outline: 0;
            color: #fff;
            border-bottom: 1px solid #d63031;
        }

        .contact-form form button {
            background: #b70e21;
            color: #000000;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
        }

        .contact-form form button:hover,
        .contact-form form button:focus {
            background: #d63031;
            color: #fff;
            transition: background-color 1s ease-out;
            outline: 0;
        }
        

        .contact-info {
            background: #000000;
        }

        .contact-info h4,
        .contact-info ul,
        .contact-info p {
            text-align: center;
            margin: 0 0 1rem 0;
            color: white;
        }

        .contact-info ul {
            list-style: none;
            padding: 0;
        }

        .contact-info ul {
            padding: .3em;
        }

        @media (min-width: 700px) {
            body {
                padding: 0 0em;
            }
            .contact-wrapper {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }
        }

        .contact-wrapper > * {
            padding: 2em;
        }

        .contact-info h4,
        .contact-info ul,
        .contact-info p {
            padding: 1em;
            text-align: left;
        }

        .neon{
            font-size: 4em;
            font-weight: 500;
            color: #222;
            letter-spacing: 5px;
            text-transform: uppercase;
            transition: 1s;
        }

        .neon:hover{
            color: #fff;
            text-shadow: 0 0 5px #e60808,
            0 0 25px #e60808,
            0 0 50px #e60808,
            0 0 100px #e60808;
        }

        header {
            background-color: #000000;
            color: rgb(0, 0, 0);
            padding: 20px 0;
            text-align: center;
        }

        
        .navbar a {
            position: relative;
            font-size: 18px;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            margin-left: 40px;
        }
        
        .navbar a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 5px;
            background: #fff;
            transition: 2s;
        }

        .navbar a:hover::before {
            width: 100%;
        }
        
        
        .btn-neon2{
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: black;
            letter-spacing: 4px;
            font-size: 24px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.2s;
        }

        .btn-neon2:hover{
            background: red;
            box-shadow: 0 0 10px red, 0 0 40px 
            red, 0 0 80px red;
            transition-delay: 1s;
        }

        .btn-neon2 span{
            position: absolute;
            display: block;
        }

        #span1{
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg,transparent,red);
        }

        .btn-neon2:hover #span1{
            left: 100%;
            transition: 1s;
        }

        #span3{
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg,transparent,red);
        }

        .btn-neon2:hover #span3{
            right:100%;
            transition: 1s;
            transition-delay: 0.5s;
        }

        #span2{
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg,transparent,red);
        }

        .btn-neon2:hover #span2{
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }

        #span4{
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(36deg,transparent,red);
        }

        .btn-neon2:hover #span4{
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }


        .btn-neon{
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: #fff;
            letter-spacing: 4px;
            font-size: 24px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.2s;
        }

        .btn-neon:hover{
            background: red;
            box-shadow: 0 0 10px red, 0 0 40px 
            red, 0 0 80px red;
            transition-delay: 1s;
        }

        .btn-neon span{
            position: absolute;
            display: block;
        }
        
        #span1{
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg,transparent,red);
        }

        .btn-neon:hover #span1{
            left: 100%;
            transition: 1s;
        }

        #span3{
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg,transparent,red);
        }

        .btn-neon:hover #span3{
            right:100%;
            transition: 1s;
            transition-delay: 0.5s;
        }

        #span2{
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg,transparent,red);
        }

        .btn-neon:hover #span2{
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }

        #span4{
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(36deg,transparent,red);
        }

        .btn-neon:hover #span4{
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }

        .gallery {
            display: flex;
            justify-content: space-around; 
            flex-wrap: wrap; 
        }

        .gallery img {
            width: 300px;
            height: 300px;
            margin: 0%; 
            border-radius: 0px; 
        }

        .producto {
            border: 5px solid white;
            box-shadow: inset 0 0 5px red, 0 0 10px red;
            border-radius: 20px;
            max-width: 400px;
            margin: 20px;
            padding: 15px;
            text-align: center;
            color: black;
            background-color: whitesmoke;
        } 

        .producto h2{
            color: black;
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            background: black;
            background-image: linear-gradient(to right, black 1px,
            transparent 1px) linear-gradient(to bottom, black 1px,
            transparent 1px);
            background-size: 40px 40px;
            cursor: none;
            

        }
        
        #cursor {
            position: fixed;
            width: 25px;
            height: 25px;
            border-top: 5px solid #0f0;
            border-left: 5px solid #0f0;
            transform-origin: top;
            transform: translate(-1px, 5px) rotate(15deg) scale(0);
            transition: transform 0.1s;
            pointer-events: none;
        }

        #cursor::before{
            content: '';
            position: absolute;
            left: -2.5px;
            width: 5px;
            height: 40px;
            background: #0f0;
            transform-origin: top;
            transform: rotate(315deg);
        }

        body:hover #cursor {animation: anima 1s linear infinite;
            transform: translate(-1px, 5px) rotate(15deg) scale(1);
        }

        @keyframes anima {
            0%{
                filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0)
                drop-shadow(0 0 30px #0F0) hue-rotate(0deg); 
            }
            100% {
                filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0)
                drop-shadow(0 0 30px #0f0) hue-rotate(360deg)
            }
        }
        

        /* TERMINAN ANIMACIONES */

        .intro {
            text-align: center; 
            margin-bottom: 30px;
        }

        .intro h2 {
            color: white;
        }
        h2 {
            color: white;
        }
        h3 {
            font-size: 90px;
            color: white;
        }
        p {
            color: white;
            font-size: 30px;
        }

    

        .producto img{
            width: 100%;
            border-radius: 10px; 
        }

        .producto figcaption{
            margin-top: 10px;
            padding: 10px;
            background-color: #fff; 
            border-top: 1px solid #ddd; 
            border-radius: 0 0 10px 10px; 
        }

        .producto strong{
            display: block;
            margin-bottom: 10px;
            color: #333; 
            font-size: 16px;
        }

        .producto ul{
            list-style-type: square; 
            pad: 0; 
            margin: 0 0 10px 0; 
        }

        .producto ul li{
            margin-bottom: 5px; 
        }

        
    footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
            margin-top: 30px;
        }